# Ambiente Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Configuração do ambiente
.env
*.env

# Virtualenv
venv/
ENV/
env/
.venv/

# Configurações do editor
.vscode/
.idea/

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Compilações
*.egg-info/
dist/
build/
